body {
    background-color: #006994;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-weight: bold;
    font-size: 25px;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.quiz h1 {
    font-size: 35px;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
    width: 90%;
    max-width: 80rem;
    margin: 100px auto 0;
    border-radius: 100vh;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px 2px;
    background-color: #ffffff;
}
.container {
    padding: 30px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 700px;
    max-width: 60rem;
    border-radius: 5px;
    margin: 20px 0;    
    color: #fffffff8;
    font-weight: 700;
    background-color: #ffffff; 
    visibility: hidden;
      
    }
#question-container {
    visibility: hidden;
}

.btn {
    background: rgba(255, 255, 255, 0.897);
    color: #222;
    font-weight: 600;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.4s;
    text-decoration: none;
}

.btn-score {
    background: white;
    color: #222;
    font-weight: 600;
    width: 100%;
    border: 1px solid #222;    
    margin: 2rem;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.4s;
    text-decoration: none;
    padding: 2rem 0;

}--->

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(255, 255, 255, 0.897);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}


.btn:disabled {
    cursor: no-drop;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;    
    color: #fff;
    font-weight: 800;
    width: 170px;
    border: 0;
    padding: 10px 20px;
    margin: 10px auto 0;
    border-radius: 4px;
    cursor: pointer;

}


.next-btn
 {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.5em 1.8em; 
    border-radius: 0.2em; 
    justify-content: center;
}

.restart-btn{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.5em 1.8em; 
    border-radius: 0.2em; 
    justify-content: center;

}

.start-btn {
    position: fixed;
    bottom: 50px;
    right: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 10%;
    font-size: 20px;
  }  

button{
    text-align: center;
}

#user-score {
    font-size: 1.5em;
    color: #ffffff;

}

.correct {
    background: #008035;
}

.incorrect {
    background: #ff080073;

}

.hide {
    display: none;
}

#score-area {
    display: none;
    border-radius: 5px;
    color: #f2f2f2;
    cursor: pointer; 
    position: fixed;
    top: 60%;
    right: 30px;
    transform: translateY(-50%);
    padding: 40px;
    display: none;
    text-align:center;



} 
.number-of-count{
    font-size: 24px;
    
}

.scores{
    font-size: 24px;
    margin-bottom: 5px;
}

.btn-score{
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
}
.btn-score:hover{
    background-color: #45a049;
}

